

.grid-container{
    background-color: rgb(236, 238, 232);
    display: flex;
    justify-content: center;
}

.imgclass{
   display: block;
   justify-content: center;
}

span{
    color: blue;
}
p{
    color: brown;
    clear: both;
}

h1{
    color: rgb(5, 87, 87);
    text-align: center;
    margin: 0%;
}

.close-button{
    float: right;
   height: 30px;
   width: auto;

}
h2{
   color: rgb(79, 35, 4);
}
body{
    background-color: aquamarine;
}
.showDetailsOfPokemon{
    background-color: rgb(139, 248, 175);
    height: auto;
    width: 50%;
    position: relative;
    /* justify-content: center; */
    /* xalign-content: center; */
    text-align: center;
    padding: 20px;
    border: 2px solid salmon;
    margin: 10px;
    left: 25%;
    border-radius: 20px;
    box-shadow: 2px 3px 3px 5px rgb(59, 185, 7240);

}
.modal-content{
    background-color: rgb(240, 210, 170);
    border-radius: 20px;
    border: 2px solid slateblue;
    box-shadow: 2px 3px 3px  slateblue ;
}
.card{
    background-color: rgba(249, 248, 250, 0.979);
    border: 3px solid rgba(250, 128, 114, 0.189);
    /* border-radius: 30%; */
    text-align: center;
    top: 0;
    width: auto;
}

