

body{
    background-color: rgb(226, 240, 191);
}

span{
    color: blue;
}
p{
    color: brown;
    clear: both;
}

h1{
    color: rgb(5, 87, 87);
    text-align: center;
    margin: 0%;
}
.button-class{
    border: 2px solid rgb(111, 140, 232);
    box-shadow: 6px 6px 6px gray;
    height:30px;
    width: 150px;
    margin-bottom: 15px;
    background-color: rgb(233, 193, 72);
    font-size: larger;
    cursor: pointer;
}
#demo{
    display: none;
}
#demo.visible{
    display: block;
}
